<div class="spinner">
    <span class="btn minus" data-id="{{ id }}"></span>
    <input type="text" id="updates_{{ id }}" name="quantity" value="{{ quantity }}" class="quantity-selector">
    <input type="hidden" id="product_id" name="product_id" value="{{ id }}">
    <span class="q">Qty.</span>
    <span class="btn plus" data-id="{{ id }}"></span>
</div>
